

# CMake local files
/build
/CMakeUserPresets.json

# Editor/IDE settings directories
.vs
.vscode

## UQM v0.8.0 .gitignore:
.DS_Store
*.app
build.vars
config.state
config_unix.h
config_win.h
sc2/obj
sc2/uqm-debug
sc2/uqm-wrapper
sc2/uqm

## GitHub C++ defaults:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
